@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bellota:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");
@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #1ba4ce;
}

.container {
  max-width: 100%;
  width: 100%;
  padding: 0 1.5em;
  margin: 0 auto;
}

@media all and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media all and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.main-nav {
  position: relative;
  padding: 0.75em 0;
}

.main-nav-container {
  display: flex;
  justify-content: space-between;
}
.main-nav-container .brand {
  height: 50px;
}
.main-nav-container .brand .logo {
  height: 100%;
}
.main-nav-container .mobile-close, .main-nav-container .mobile-hamburger {
  font-size: 1.75rem;
  line-height: 50px;
  cursor: pointer;
}
.main-nav-container .mobile-close {
  color: #fff;
  font-size: 2rem;
}
.main-nav-container .main-nav-menu {
  display: none;
  position: absolute;
  max-width: 460px;
  width: 100%;
  top: 0;
  right: 0;
  text-align: right;
  background-color: #1ba4ce;
  padding: 0.75em 1.5em 2em;
}
.main-nav-container .main-nav-menu.open {
  display: block;
}
.main-nav-container .main-nav-menu .main-menu {
  list-style: none;
  padding: 0 1.5rem;
  font-size: 3.125rem;
  text-transform: uppercase;
}
.main-nav-container .main-nav-menu .main-menu li {
  margin-bottom: 3rem;
}
.main-nav-container .main-nav-menu .main-menu li a {
  text-decoration: none;
  color: #fff;
}
@media all and (min-width: 992px) {
  .main-nav-container .brand {
    height: 80px;
  }
  .main-nav-container .brand .logo {
    height: 100%;
  }
  .main-nav-container .mobile-hamburger {
    display: none;
  }
  .main-nav-container .mobile-close {
    display: none;
  }
  .main-nav-container .main-nav-menu {
    display: block;
    position: static;
    max-width: 100%;
    width: 100%;
    text-align: right;
    background-color: #fff;
    padding: 1.5rem 0;
  }
  .main-nav-container .main-nav-menu .main-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-bottom: 0;
    max-width: 500px;
    padding: 0;
    font-size: 1rem;
  }
  .main-nav-container .main-nav-menu .main-menu li {
    margin-bottom: 0rem;
  }
  .main-nav-container .main-nav-menu .main-menu li a {
    text-decoration: none;
    color: #473452;
  }
  .main-nav-container .main-nav-menu .main-menu li a:hover, .main-nav-container .main-nav-menu .main-menu li a:active {
    color: #1ba4ce;
  }
}/*# sourceMappingURL=style.css.map */