.container {
  min-height: 60vh;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#newsletter-form {
  width: 30%;
  background-color: #eee;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#newsletter-form > * {
  display: block;
}

#newsletter-form .errors {
  color: red;
  list-style: none;
}

#newsletter-form input {
  margin: 0.25rem 0 0.5rem 0;
  padding: 0.5rem 1rem;
}

#newsletter-form input[type="submit"] {
  align-self: center;
  margin-top: 2rem;
}
