.header {
  padding-bottom: 2rem;

  .hero {
    @include d-flex-column;
    gap: 1rem;

    h1 {
      color: $color-accent;
    }

    p {
      padding-right: 1em;
      color: $color-neutral-400;
    }

    .wrapper {
      display: flex;
      gap: 1rem;
      margin-top: 1rem;
    }
  }

  @media (min-width: $lg) {
    .hero {
      max-width: 42%;
    }
  }
}
