// -------------------
//    Typography
// -------------------
// $base-font-size: 10px;

$font-primary: "Roboto", sans-serif;
$font-secondary: "Bellota", cursive;

// -------------------
//    Colors
// -------------------
$color-primary: #1ba4ce;
$color-secondary: #473452;

$color-neutral-100: #fff;

$color-button: #30383b;

$text-color-primary: #888;
$text-color-secondary: #555;

// -------------------
//    Container
// -------------------

$container-sm: 100%;
$container-lg: 960px;
$container-xl: 1140px;

// -------------------
//    Breakpoints
// -------------------
$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
