%btn {
  display: inline-block;
  font-size: $font-size-200;
  text-decoration: none;
  color: $color-neutral-100;
  background-color: $color-primary;
  padding: 1em 2em;

  i {
    display: none;
  }
}

.btn-primary {
  @extend %btn;
  padding-inline: 3em;
  border-radius: 50px;
  text-transform: uppercase;
}

.btn-hero {
  @extend %btn;
}

.btn-watch {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;
  font-size: $font-size-200;
  text-decoration: none;
  i {
    color: $color-secondary;
    font-size: $font-size-500;
  }
}
